html,body{
	background-color: #1F3B4D;

}
.navimage{
	float:left;
	line-height:80px;
	width:50%;
}
.navimage img{
	height:80px;
	width:80px;
	margin-left:60px;
	
}
a{
	font-size:16px;
	text-transform:uppercase;
}
.navarea{
	background:#262626;
	height:80px;
	position:fixed;
	top:0;
	width:100%;
}

.navarea ul{
	list-style:none;
	margin:0;
	margin-right:10px;
}
.navarea > ul > li{
	float:left;
	position:relative;
}
.navarea ul li a {
	text-align:center;
	text-decoration:none;
	color:#fff;
	padding:10px 15px;
	display:block;
	margin-top:17px;
	
}
.navarea ul li:hover a {
	background:#708090;
}
.navarea ul ul{
	position:absolute;
	padding:0;
	min-width:160px;
	display:none;
	top:100%;
	left:0;
}



.footer{
	width: 90%;
	height:250px;
	background-color: #262626;
	color: white;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0 auto;
}
.footer-heading{
	display: flex;
	flex-direction: column;
	margin-right: 64px;

}
.footer-heading h2{
	margin-bottom: 32px;
}
.footer-heading a{
	color: white;
	text-decoration: none;
	margin-bottom: 7px;
}
.footer-heading a:hover{  
	color: red;
	transition: 0.3s ease-out;
}
.footer-email-form h2{
	margin-bottom:  14px;
}
#footer-email{
	width: 250px;
	height:40px;
	border-radius: 4px;
	outline: none;
	border: none;
	padding-left: 20px;
	font-size:20px;
	margin-bottom: 7px;
}
#footer-email::placeholder{
	color:#b1b1b1;
}
#footer-email-btn{
	width: 100px;
	height:40px;
	border-radius: 4px
	background-color:red;
	outline: none;
	border: none;
	color: red;
	font-size: 14px;
}
#footer-email-btn:hover{
	cursor: pointer;
	background-color: blue;
	transition: all 0.4s ease-out;

}

.copyright1 {
    font-size: 20px;
    position: absolute;
    margin-top: 250px;
    top:10px;

    
